.task-item{
    transition: all 200ms ease;
}

.task-item.enter{
    opacity: 0;
    transform: translateY(-10px);
}

.task-item.enter-active {
    opacity: 1;
    transform: translateY(0);
}

.task-item.exit {
    opacity: 1;
    transform: translateY(0);
}
.task-item.exit-active {    opacity: 0;
    transform: translateY(10px);
}

.task-item.dragging {
    opacity: 0.5;
}
.task-item.over {
    border-top: 2px solid blue;
}
body.dark-mode {
    background-color: #121212;
    color: peachpuff;
}
.dark-mode li {
    background-color: #1e1e1e;
    border: 1px solid #333333;
}

input, button{
    background-color: white;
    color: black;
    border: 1px solid #ccc;
}

input, button{
    transition: background-color 0.3s, color 0.3s;
}
.dark-mode input, .dark-mode button {
    background-color: #333333;
    color: white;
    border: 1px solid #555555;
}
.dark-mode select, .dark-mode option {
    background-color: #333333;
    color: white;
    border: 1px solid #555555;
}
.DelDescBtn{
    margin-left: 10px;
}
.pinBtn{
    margin-right: 10px;
    margin-left: 10px;
}
.deleteBtn{
    margin-left: 10px;
}
.descBtn{
    margin-left: 10px;
}

.category{
    margin-left: 15px;
    margin-right: 5px;
}
.addTask{
    margin-top: 50px;
}
.exportBtn{
    float: right;
}
.importInput{
    float: right;
}